body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 7px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar li {
    float: right;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 10px solid black;
    margin-top: 180px;
  }
  
  .input-group {
    display: block;
    margin: 20px auto;
    width: 50%;
    margin-bottom: 10px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }
  
  .input-group button {
    padding: 8px 15px;
    font-size: 16px;
  }
  
  #results {
    margin-top: 20px;
  }
  
  #results pre {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
  }
  
  .flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  
  .flag-container img {
    max-width: 40%;
    height: 20px;
  }
  
  .search-blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .search-block {
    flex-basis: 18%;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav {
    position: relative;
    background-color: black;
    width: 70%;
    margin: 50px auto;
  }
  
  nav ul {
    margin: 0%;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    list-style-type: none;
    /* padding: 15px 20px; */
    min-width: 10%;
  }
  
  nav ul li button {
    padding: 20px;
    margin: 10px;
    background-color: black; 
    color: white; 
    border: none;
  }

  nav ul li button:hover {
    background-color: white;
    color: black;
  }

  .footer {
    margin-top: 15px;
    background-color: black;
    color: #d2b48c;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    margin-bottom: -2px;
  }
  
  .footera {
    margin-top: 0px;
    background-color: black;
    color: #d2b48c;
    padding: 20px;
    text-align: center;
    font-size: 12px;
  }
  
  select {
    width: 250px;
    padding: 8px;
    font-size: 16px;
  }
  
  .navbar img {
    height: 45px;
    margin: 5px;
    margin-right: 10px;
    object-fit: contain;
  }
  
  /* Reduce the gap between black strips */
  .nav-ul li {
    margin-right: 5px;
  }
  
  .search-container {
    text-align: center;
    margin-top: 40px;
  }
  
  .target-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .search-button {
    padding: 8px 15px;
    font-size: 16px;
    width: 100%;
  }
  